.container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    span{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    strong{
        font-family: Josefin Slab, serif;
        font-weight: 700;
        font-size: 1.5rem;
        padding-right: 20px;
    }
    img{
        width: 200px;
    }
}
