.containerEmpty{
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;

    strong{
        font-size: 2rem;
        color: #302929;
        margin-bottom: 1rem;
        font-family: Junge;
    }
    p{
        font-size: 1.2rem;
        color: #302929;
        font-family: Josefin Slab;
    }
}
